


body{
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-image: url(../img/background.png);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgba(255,255,255,0.5);
}












/* Barre de Navigation */

header{
	border-bottom: solid;
	border-color: #008349;
	padding-bottom: 2%;
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	top: 0;
	position: sticky;
}

nav{

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}


#HeaderLogo{
	width: 10%;
	height: 100%;
	text-align: center;

}


#HeaderLogo img{
	text-align: center;
	width: 60%;
}


#Navigateur{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

	
#Navigateur ul{
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style-type: none;
	gap:7%;
}


#Navigateur li{
    color : #008349;
    font-weight: bold;
    font-size: 150%;
}


#local{
	text-align: center;
}


.barnav a:visited{
    color: #008349;
    text-decoration: none;
}


.barnav a:visited:hover{
	color: white;
	text-decoration: none;
}


.barnav a:visited:active{
	color: white;
	text-decoration: none;
}


.barnav a:link{
    text-decoration: none;
}


.barnav a{
	color: #008349 ;
}

.barnav a:hover{
	color: white ;
}


#Navigateur p{
	font-weight: bold;

}

.barnav#Connexion {
	border: solid;
	border-color: #008349;
	background-color:#008349 ;
	color: white;
	border-radius: 5px;
	padding-right: 10px;
	padding-left: 10px;
	}

.barnav#Connexion a:visited{
    color: white;
    text-decoration: none;
}


/*.barnav#Connexion a;:visited:hover{
	border-color: white;
	text-decoration: none;
}*/


/*.barnav#Connexion a:visited:active{
	color: #008349;
	border-color: white;
	text-decoration: none;
}*/


.barnav#Connexion a:link{
    text-decoration: none;
}


.barnav#Connexion a{
	color: white ;
}

.barnav#Connexion a:hover{
	border-color: white;
	text-decoration: none;
}


















/* Centre de la page Index */
main#MainIndex{
	flex:1;
	display: flex;
	align-items: center;
	
}

.container#IndContMain{
	display: flex;

}
#ContPres{
	width: 100%;
	display: flex;
	justify-content: center;
}


#IndContLogoText{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	color: #008349;
	font-size: 200%;
	font-weight: bold;
	text-align: center;

	
}

#Diapo{
	display: flex;
	overflow: hidden;
	width: 50%;
	align-items: center;

}

#Diapo img{
	width: 100%;
	height: auto;
}

#imageDiapo{
	display: flex;
	flex-direction: row;
	
}

















/*Centre de la page Pres*/


main h1{
	text-align: center;
}

main#MainPres{
	flex:1;
	margin-bottom: 2%;
}


#PresStatus img{
	width: 15%;
	height: auto;
}


#PresStatus:hover{
	border-color: white;
	color: white;
}

.container#ContPres{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#BureauText{
	margin: 5%;
}

#BureauText ul{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style-type: none;
	width: 100%;
}

#PresText{
	margin: 5%;
	padding-bottom: 1%;
	padding-top: 1%;
}
#PresText p#PresBureau{
	color: #D1D1D1;
	font-size: 200%;
	text-align: justify;
}
#PresText h1{
	color: white;
}

main hr{
	width:100%;
}

.border{
	border-bottom: solid;
	border-color: #008349;
}


#Bureau{
	width: 100%;
}

#BlockVert{
	color: white;
	font-size: 200%;
	text-align: justify;
	text-align-last: center;
	background-color:#008349 ;
	width: 100%;
	padding-top: 5%;
	padding-bottom: 5%;

}

#BlockVert p{
	margin-right: 5%;
	margin-left: 5%;
}

#PresStatus{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 15%;
	align-items: center;
	border: solid;
	border-color: #008349;
	border-radius: 10px;
	font-size: 200%;
	color: #008349;
	font-weight: bold;
	width: 20%;
	margin: auto;
}
.BureauPres img{
	width: 50%;
}
#PresBureau{
	text-align: justify;
	text-align-last: center;
}



/*Centre de la page Event*/

main#EventMain{
	flex:1;
	height: 100%;
}


.EventContain{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 5%;
	margin-right: 5% ;
}


.EventImageText{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.EventImageText p{
	margin-left: 10%;
	margin-right: 10% ;
	margin-top: 5%;
	margin-bottom: 5%;
	color:#D1D1D1 ;
	font-weight: bold;
	font-size: 150%;
}
.EventImageText h1{
	color: white;
	font-weight: bold;
}

.EventText{
	text-align: justify;
	text-align-last: center;
}

.EventIcone{
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.EventImage img{
	max-height:285px ;
}
.EventIcone img{
	
	max-height: 285px;
}




.EventContainerDiv{
	padding-bottom: 10%;
}


.EventContainerDiv h1{
	color: white;
	margin-top: 3%;
	margin-bottom: 5%;
}

#SoirLudi{
	background-color:#008349; 
	padding-top: 1%;
}








/*Centre de la page Pres*/

main#PartMain{
	flex: 1;
}

#PartImage{
	display: flex;
	flex-direction: column;
}

.PartBlock{
	text-align: center;
}

.PartBlock td{
	max-height: 150px;
}

.PartBlock td img{
	max-height: 150px;
}
table{
	width: 100%;
	margin
}

#PartTex{
	margin: 5%;
}

#PartTex p{
	margin-left: 10%;
	margin-right: 10% ;
	margin-top: 5%;
	margin-bottom: 5%;
	color:#D1D1D1 ;
	font-weight: bold;
	font-size: 150%;
	text-align: justify;
	text-align-last: center;
}
#PartTex h1{
	color: white;
	margin-top: 3%;
	margin-bottom: 5%;
}

#Table2 {
	margin-top: 2%;
}


/*Centre de la page Contact*/
main#ContMain{
	flex: 1;
}
.ContactDiv{
	border: solid;
	border-radius: 10px;
	border-color: #008349;
}
.ContactDiv:hover{
	border: solid;
	border-radius: 10px;
	border-color: white;
}

#ContactContMain{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
.Contactcontainer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap : 10%;
	width: 100%;
	height: 100%;
	margin: 5%;
}

.ContactDiv{
	width: 350px;
	height: 600px;
	text-align: center;
}
.ContactDiv img{
	width: 50%;
	margin-top: 25%;
}




/* Footer */

footer{
	width: 50%;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#barfoot{
	align-items: center;
}
#barfoot ul{
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style-type: none;
}


#barfoot li{
    color : white;
    font-weight: bold;
    font-size: 20px;
 }

#barfoot img{
	width: 20%;
	height: auto;
}